<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configure the Console appender -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="FILE" class="ch.qos.logback.core.ConsoleAppender">
        <file>log/SpringFirst.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/SpringFirst_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{ISO8601} ${LOG_LEVEL_PATTERN:-%5p} [%t] - %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
    </appender>

    <logger name="org.example" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
